<!DOCTYPE html>
<html lang="en">

<title>Keyboard</title>

<div class="texto" id="texto">
  <div class="parrafo" id="1"></div>
  <div class="parrafo" id="2"></div>
  <div class="parrafo" id="3"></div>
  <div class="parrafo" id="4"></div>
  <div class="parrafo" id="5"></div>
  <div class="parrafo" id="6"></div>
  <div class="parrafo" id="7"></div>
  <div class="parrafo" id="8"></div>
  <div class="parrafo" id="9"></div>
  <div class="parrafo" id="10"></div>
  <div class="parrafo" id="11"></div>
  <div class="parrafo" id="12"></div>
  <div class="parrafo" id="13"></div>
  <div class="parrafo" id="14"></div>
  <div class="parrafo" id="15"></div>
  <div class="parrafo" id="16"></div>
  <div class="parrafo" id="17"></div>
  <div class="parrafo" id="18"></div>
  <div class="parrafo" id="19"></div>
  <div class="parrafo" id="20"></div>
  <div class="parrafo" id="21"></div>
  <div class="parrafo" id="22"></div>
  <div class="parrafo" id="23"></div>
  <div class="parrafo" id="24"></div>
  <div class="parrafo" id="25"></div>
  <div class="parrafo" id="26"></div>
  <div class="parrafo" id="27"></div>
  <div class="parrafo" id="28"></div>
  <div class="parrafo" id="29"></div>
  <div class="parrafo" id="30"></div>
  <div class="parrafo" id="31"></div>
  <div class="parrafo" id="32"></div>
  <div class="parrafo" id="33"></div>
</div>

<div id="kcontainer">
      <div class="keyboard_row">
        <div class="key">
          ~
        </div>
        <div class="key">
          !
        </div>
        <div class="key">
          @
        </div>
        <div class="key">
          #
        </div>
        <div class="key">
          $
        </div>
        <div class="key">
          %
        </div>
        <div class="key">
          ^
        </div>
        <div class="key">
          &
        </div>
        <div class="key">
          *
        </div>
        <div class="key">
          (
        </div>
        <div class="key">
          )
        </div>
        <div class="key">
          _
        </div>
        <div class="key">
          +
        </div>
        <div class="key key-wide">
          Bksp
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-wide">
          ->| Tab
        </div>
        <div class="key">
          Q
        </div>
        <div class="key">
          W
        </div>
        <div class="key">
          E
        </div>
        <div class="key">
          R
        </div>
        <div class="key">
          T
        </div>
        <div class="key">
          Y
        </div>
        <div class="key">
          U
        </div>
        <div class="key">
          I
        </div>
        <div class="key">
          O
        </div>
        <div class="key">
          P
        </div>
        <div class="key">
          {
        </div>
        <div class="key">
          }
        </div>
        <div class="key">
          |
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key">
          A
        </div>
        <div class="key">
          S
        </div>
        <div class="key">
          D
        </div>
        <div class="key">
          F
        </div>
        <div class="key">
          G
        </div>
        <div class="key">
          H
        </div>
        <div class="key">
          J
        </div>
        <div class="key">
          K
        </div>
        <div class="key">
          L
        </div>
        <div class="key">
          ;
        </div>
        <div class="key">
          "
        </div>
        <div class="key key-special key-wide">
          Enter
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-special key-wide">
          Shift
        </div>
        <div class="key">
          Z
        </div>
        <div class="key">
          X
        </div>
        <div class="key">
          C
        </div>
        <div class="key">
          V
        </div>
        <div class="key">
          B
        </div>
        <div class="key">
          N
        </div>
        <div class="key">
          M
        </div>
        <div class="key">
          &lt;
        </div>
        <div class="key">
          >
        </div>
        <div class="key">
          ?
        </div>
        <div class="key key-special key-wide">
          Shift
        </div>
      </div>
      <div class="keyboard_row">
        <div class="key key-special">
          Accept
        </div>
        <div class="key key-space">
        </div>
        <div class="key key-special key-wide">
          Cancel
        </div>
      </div>
    </div>

    <div class="hideShowBtn">
        <button id="btnHS" type="Submit" onclick="hideShow()">Hide</button>
      </div>
